body {
    background-color: gainsboro;
}

.Title {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.Subtitle-One {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.Subtitle {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}

.Timer-Display {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    margin-top: 10px;
}

.Timer-Information {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
}

.Timer-Form {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 30px;
    position: relative;
    max-height: 50px;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}